#makeDecision {
  .decisions {
    .filter {
      li {
        float: left;
        width: 19%;
        margin-right: 1%;
      }
      .sub-filters {
        overflow: auto;
        height: 196px;
        background-color: #e5ebed;

        li {
          width: 100%;
        }
      }
    }

    #filter {
      ul {
        padding-left: 0;
        list-style: none;
      }
      div {
        padding: 0 6px;
        line-height: 2em;
        background-color: #b0bfc4;
        color: #f7fafc;
        cursor: pointer;
      }
    }

    .btn-grooup {
      .btn:not(.active) {
        border-color: #dfe5e9;
        background-color: #dfe5e9;
        color: #546e7a;
      }
    }

    input[type="text"] {
      border: 1px solid #bbc5ca;
      border-radius: 3px;
      padding: 2px 4px;
      width: 85px;
      background-color: #f7fafc;
      text-align: right;
    }
    #selectionButton {
      .select {
        color: #fff;
        background-color: #2e87ff;
        border-color: #0a72ff;
      }
      label {
        border-color: #dfe5e9;
        background-color: #dfe5e9;
        color: #546e7a;
        input {
          position: absolute;
          clip: rect(0, 0, 0, 0);
          pointer-events: none;
        }
      }
    }
  }
  #submit {
    color: #fff;
    background-color: #b3001a;
    border-color: #9a0016;
    margin-top: 8px;
    width: 25%;
  }
}