#explorer {
  .GraphTypes {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;

    li {
      margin-top: 10px;
    }
  }

  .GraphFilters {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.67%;

    .panel-body {
      padding: 0;

      label {
        display: block;
      }
    }
  }

  .odorElimination, .households, .pod, .print, .less5, .convenience {
    stroke: pink;
    stroke-width: 2;
    fill: none;
  }

  .coldWater, .liquid, .tv, .less57, .club {
    stroke: #00bdd4;
    stroke-width: 2;
    fill: none;
  }

  .scent, .powder, .digitalAds, .less79, .mass {
    stroke: #ffc400;
    stroke-width: 2;
    fill: none;
  }

  .softness, .radio, .moreThan9, .grocery {
    stroke:  #8cc24a;
    stroke-width: 2;
    fill: none;
  }

  .secondary-1 {
    stroke: pink;
    fill: pink;
    background-color: pink;
  }

  .secondary-2 {
    stroke: #00bdd4;
    fill: #00bdd4;
    background-color: #00bdd4;
  }

  .secondary-3 {
    stroke: #ffc400;
    fill: #ffc400;
    background-color: #ffc400;
  }

  .secondary-4 {
    stroke: #8cc24a;
    fill: #8cc24a;
    background-color: #8cc24a;
  }
}

