#explorer {
  .GraphTypes {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;

    li {
      margin-top: 10px;
    }
  }

  .GraphFilters {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.67%;

    .panel-body {
      padding: 0;

      label {
        display: block;
      }
    }
  }

  .odorElimination, .pod, .print, .less5, .convenience {
    stroke: pink;
    stroke-width: 2;
    fill: none;
  }

  .coldWater, .liquid, .tv, .less57, .club {
    stroke: blue;
    stroke-width: 2;
    fill: none;
  }

  .scent, .powder, .digitalAds, .less79, .mass {
    stroke: yellow;
    stroke-width: 2;
    fill: none;
  }

  .softness, .households, .radio, .moreThan9, .grocery {
    stroke: green;
    stroke-width: 2;
    fill: none;
  }

  .secondary-1 {
    stroke: pink;
    fill: pink;
    background-color: pink;
  }

  .secondary-2 {
    stroke: blue;
    fill: blue;
    background-color: blue;
  }

  .secondary-3 {
    stroke: yellow;
    fill: yellow;
    background-color: yellow;
  }

  .secondary-4 {
    stroke: green;
    fill: green;
    background-color: green;
  }
}

