input[type=checkbox], input[type=radio]{
  margin-right: 5px;
  margin-left: 4px;
}

.active{
  background-color: #f7fafc;
  color: #b3001a;

  a {
    background-color: #f7fafc;
  }
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.618;
  color: #546e7a;
  background-color: #f7fafc;
}

.header {
  .nav-pills>li{
    width: 100%;
  }
}

.nav-pills>li{
  width: 20%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: darkblue;
  background-color: #f5f5f5;
}

.nav{
  font-size: 120%;
  text-align: center;
}

#legend {
  margin-top: 20px;
  text-align: center;

  div {
    display: inline-block;
    margin-right: 24px;
  }
  span {
    display: inline-block;
    margin-right: 6px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
}

.SimulationGraph {

  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 58.33%;

  .grid {
    stroke-dasharray: 1 2;
  }

  .axis {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    font-family: "Consolas", "Monaco", monospace;
    font-size: 75%;
  }

  .xAxis {
    text-anchor: middle;
  }

  .yAxis {
    text-anchor: end;
  }

  .points {
    stroke: white;
    stroke-width: 3;
  }

  .first_set {
    fill: #00554d;
  }

  .second_set {
    fill: none;
  }

  .blue{
    stroke: blue;
    stroke-width: 2;
    fill: none;
  }

  .yellow {
    stroke: yellow;
    stroke-width: 2;
    fill: none;
  }

  .green {
    stroke: green;
    stroke-width: 2;
    fill: none;
  }

  .red {
    stroke: red;
    stroke-width: 2;
    fill: none;
  }

  .labels {
    font-size: 10.5px;
  }

  .labels.x-labels {
    text-anchor: middle;
  }

  .labels.y-labels {
    text-anchor: end;
  }

  .s-1 {
    stroke: blue;
    fill: blue;
    background-color: blue;
  }

  .s-2 {
    stroke: green;
    fill: green;
    background-color: green;
  }

  .s-3 {
    stroke: yellow;
    fill: yellow;
    background-color: yellow;
  }

  .s-4 {
    stroke: red;
    fill: red;
    background-color: red;
  }
}