input[type=checkbox], input[type=radio]{
  margin-right: 5px;
  margin-left: 4px;
}

.active{
  background-color: #f7fafc;
  color: #b3001a;
  width: 100%;

  a {
    background-color: #f7fafc;
  }
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.618;
  color: #546e7a;
  background-color: #f7fafc;

  footer{
    text-align: right;
  }
}

.header {
  .nav-pills>li{
    width: 100%;
  }
}

.nav-pills>li{
  width: 20%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: darkblue;
  background-color: #f5f5f5;
}

.nav{
  font-size: 120%;
  text-align: center;
}

#legend {
  margin-top: 20px;
  text-align: center;

  div {
    display: inline-block;
    margin-right: 24px;
  }
  span {
    display: inline-block;
    margin-right: 6px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
}

.SimulationGraph {

  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 58.33%;

  .grid {
    stroke-dasharray: 1 2;
  }

  .axis {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    font-family: "Consolas", "Monaco", monospace;
  }

  .xAxis {
    text-anchor: middle;
    stroke: none;
  }

  .yAxis {
    text-anchor: end;
    stroke:none;
  }

  .points {
    stroke: white;
    stroke-width: 3;
  }

  .first_set {
    fill: #00554d;
  }

  .second_set {
    fill: none;
  }

  .blue{
    stroke: #00bdd4;
    stroke-width: 2;
    fill: none;
  }

  .yellow {
    stroke: #ffc400;
    stroke-width: 2;
    fill: none;
  }

  .green {
    stroke: #8cc24a;
    stroke-width: 2;
    fill: none;
  }

  .red {
    stroke: #f0544f;
    stroke-width: 2;
    fill: none;
  }

  .labels {
    font-size: 10.5px;
  }

  .labels.x-labels {
    text-anchor: middle;
  }

  .labels.y-labels {
    text-anchor: end;
  }

  .s-1 {
    stroke: #00bdd4;
    fill: #00bdd4;
    background-color: #00bdd4;
  }

  .s-2 {
    stroke: #8cc24a;
    fill: #8cc24a;
    background-color: #8cc24a;
  }

  .s-3 {
    stroke: #ffc400;
    fill: #ffc400;
    background-color: #ffc400;
  }

  .s-4 {
    stroke: #f0544f;
    fill: #f0544f;
    background-color: #f0544f;
  }

  #legend2015:hover {
    opacity:1;
    z-index: 2;
  }
  #legend2016:hover {
    opacity:1;
  }
  #legend2017:hover {
    opacity:1;
  }
  #legend2018:hover {
    opacity:1;
  }
  #legend2019:hover {
    opacity:1;
  }
  #legend2020:hover {
    opacity:1;
  }
  #legend2021:hover {
    opacity:1;
  }
  #legend2022:hover {
    opacity:1;
  }
}

#user {
  display: none;
}