<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Simulation Web: Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/dashboardStyle.css" />
        <link rel="stylesheet" href="/simulation.css" />
    </head>

    <body>
    <div id="dashboard"></div>
    <div id="user">
        <span th:text="${user}"></span>
    </div>
    <script src="built/dashboard.bundle.js"></script>

    </body>
</html>